*/node_modules
/02-express-tutorial/final-files
/03-task-manager/final-files
/03-task-manager/starter/node_modules/
/03-task-manager/final-smliga/
/node-tutorial/
*/final-files/
*/final
*.env*
.gitignore
*.prettierrc.json